// Main
$text_light_color: #eee;
$text_dark_color: #111;

// Menu
$link_color: rgb(254, 253, 255);
// &Overlay
$bg_menu-overlay_color: rgb(47, 36, 87);
$bg_menu-overlay_close-button_color: rgb(82, 55, 177);
$text_menu-overlay_color: #eee;
