@import "_variables.scss";

.home {
	padding-top: 60px;
	width: 60%;
	margin: 0 auto 0;
	padding-bottom: 20px;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.1rem;
}

@media screen and (max-width: 650px) {
	.home {
		width: 100%;
		border: none;
		padding-left: 50px;
		padding-right: 50px;
	}
}

.home h2 {
	margin-top: 40px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.home p {
	font-weight: 300;
	text-align: justify;
	margin-bottom: 20px;
	line-height: 1.4;
	a {
		color: rgb(91, 2, 173);
	}
}

.home blockquote {
	margin: 40px;
	font-family: "Dancing script";
	font-size: 2rem;
	text-align: center;
}

.grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-columns: 1fr;
	gap: 15px;
}
.grid_item {
	background-color: #eee;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	p {
		margin: 0;
		text-align: left;
	}
	p,
	h3 {
		color: $text_dark_color;
	}
}
.grid_item img {
	width: 100%;
	margin: 25px 0;
	&.vertical {
		width: 50%;
		margin: 25px auto;
	}
}

@media screen and (max-width: 500px) {
	.grid {
		grid-template-columns: 1fr;
	}
}
